{% extends "layout_admin.html" %}

{% block content %}

<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-10 mx-auto col-lg-5">
                {% from "_erroformulario.html" import render_field %}

                <form method="post" class="p-4 p-md-5 border rounded-3 bg-light">
                    <img src="{{url_for('static', filename='img/logo(126x60)transp.png')}}" alt="">
                    <div class="text-center p-2 data-text">
                        <h4>Registrar Usuário</h4>
                    </div>
                    {{form.csrf_token}}

                    <div>
                        {{ render_field(form.name, class="form-control") }}
                        {{ render_field(form.username, class="form-control") }}
                        {{ render_field(form.email, class="form-control") }}
                        {{ render_field(form.password, class="form-control") }}
                        {{ render_field(form.confirm, class="form-control") }}
                        <input type="file" name="Foto">
                    </div>
                    <a><input type="submit" value="Registrar" class="btn btn-sm btn-success float-sm-start mt-2"></a>
                    <a href="{{url_for('admin.product_list')}}" class="btn btn-sm btn-warning float-end mt-2">Retornar Menu</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}