{% extends "layout_admin.html" %}

{% block content %}

{% include 'navbar_admin.html' %}
<div class="container mt-4">
  <h2>Editar Tamanho: {{ tamanho.name }}</h2>
  <form method="POST" action="{{ url_for('admin.size_upd', size_id=tamanho.id) }}">
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição do Tamanho</label>
      <input type="text" class="form-control" name="descricao" id="descricao" value="{{ tamanho.name }}" required>
    </div>
    <button type="submit" class="btn btn-success">Salvar Alterações</button>
    <button type="button" id="btnCancelar" class="btn btn-secondary">Cancelar</button>
  </form>
</div>
{% endblock %}