<!-- CABEÇALHO DA PÁGINA ADMINISTRATIVA -->

<nav class="navbar col-12 navbar-expand-lg bg-body-secondary accordion" style="z-index: 999;">

    <!-- col-11: ocupa total de 11 colunas ; m-auto: margin automático centraliza/alinha -->
    <div class="container-fluid col-11 m-auto">
      <a class="navbar-brand" href="{{ url_for('admin.product_list') }}">
        <img src="{{url_for('static', filename=session['Store']['Url logo'])}}" alt="Ouvirtiba Aparelhos Auditivos">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('admin.product_list') }}">Home</a>
          </li>

          <!-- GESTÃO -->
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Gestão</a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('admin.store_list') }}" class="dropdown-item">Lojas</a></li> 
              <li><a href="{{ url_for('admin.user_list') }}" class="dropdown-item">Usuários</a></li>
              <li><a href="{{ url_for('client_bp.client_list') }}" class="dropdown-item">Clientes</a></li>
            </ul>
          </li>

          <!-- PRODUÇÃO -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Produção
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('assembly_bp.assembly_list') }}">Histórico Preço Venda</a></li>
              <li><a class="dropdown-item" href="{{ url_for('assembly_bp.assembly_create') }}">Gerar Preço Venda</a></li>
            </ul>
          </li>
          <!-- VENDAS -->
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Vendas</a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('order_bp.order_list') }}" class="dropdown-item">Pedidos</a></li>
              <li><a href="{{ url_for('nfe_bp.nfe_list') }}" class="dropdown-item">Notas Fiscais</a></li>
            </ul>
          </li>

          <!-- COMPRAS -->
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Compras</a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('purchases_bp.supplier_list') }}" class="dropdown-item">Fornecedores</a></li>
              <li><a href="{{ url_for('purchases_bp.invoice_list') }}" class="dropdown-item">Notas de Entrada</a></li>
            </ul>
          </li>

          <!-- CATÁLOGO -->
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Catálogo</a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('admin.product_list', type_id=0) }}" class="dropdown-item">Todos os Produtos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="{{ url_for('admin.product_list', type_id=1) }}" class="dropdown-item">AA - Aparelhos Auditivos</a></li>
              <li><a href="{{ url_for('admin.product_list', type_id=2) }}" class="dropdown-item">Ac - Acessórios</a></li>
              <li><a href="{{ url_for('admin.product_list', type_id=3) }}" class="dropdown-item">Pa - Produto Acabado</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="{{ url_for('admin.brand_list') }}" class="dropdown-item">Marcas</a></li>
              <li><a href="{{ url_for('admin.category_list') }}" class="dropdown-item">Categorias</a></li>
              <li><a href="{{ url_for('admin.color_list') }}" class="dropdown-item">Cores</a></li>
              <li><a href="{{ url_for('admin.size_list') }}" class="dropdown-item">Tamanhos</a></li>
              <li><a href="{{ url_for('admin.packaging_list') }}" class="dropdown-item">Embalagens</a></li>
            </ul>
          </li>

          <!-- BLOG -->
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('blog_bp.blog_list') }}" class="dropdown-item">Gerenciar Posts</a></li>
              <!--<li><a href="" class="dropdown-item">Gerenciar Posts</a></li>-->
            </ul>
          </li>

          <!-- Gestao das imagens -->
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownImagens" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-images"></i> Imagens
              </a>
              <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdownImagens">
                  <li>
                      <a class="dropdown-item" href="{{ url_for('image_bp.image_list', folder_filter='admin') }}">
                          <i class="bi bi-gear me-2"></i> Geral (Admin)
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-item" href="{{ url_for('image_bp.image_list', folder_filter='blog') }}">
                          <i class="bi bi-journal-text me-2"></i> Blog
                      </a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                      <a class="dropdown-item text-primary" href="{{ url_for('image_bp.image_list') }}">
                          <i class="bi bi-list-ul me-2"></i> Todas as Imagens
                      </a>
                  </li>
              </ul>
          </li>

          <!-- SAIR -->
          <li class="nav-item">
            <a class="nav-link text-danger" href="{{ url_for('auth.logout') }}">
              <i class="bi bi-box-arrow-right"></i> Sair
            </a>
          </li>
        </ul>
        <div class="p-2 m-auto text-center text-dark">
          <h6 style="color: rgb(230,87,66)">{{session['username']}} | {{(session['Store']['City'])}}</h6>
        </div>
      </div>
    </div>
  </nav>

  {% include '_mensagem.html' %}