{% extends "layout.html" %}

{% block content %}

<!-- Bloco de conteúdo dividido -->
<div class="container my-5">
  <div class="row g-4 align-items-center">

    <!-- Texto descritivo -->
    <div class="col-md-6">
      <h2 class="mb-3">Sobre a Ouvirtiba</h2>
      <p>A Ouvirtiba Aparelhos Auditivos é especializada em soluções auditivas modernas e acessíveis. Atuamos com tecnologia de ponta, oferecendo aparelhos auditivos da renomada marca Rexton, reconhecidos pela qualidade, conectividade via Bluetooth e conforto no uso diário.</p>
      <p>Nosso atendimento é feito em parceria com a Clínica Makasi, em Araquari, SC. Aqui, você encontra atendimento com fonoaudióloga especializada e o compromisso em devolver a qualidade de vida através da audição.</p>
    </div>

    <!-- Vídeo chamado -->
    <div class="col-md-6 text-center">
      <h4 class="mb-3 text-slide">Aparelhos discretos, leves e praticamente imperceptíveis</h4>

      <div class="video-container">
        <iframe 
          src="https://www.youtube.com/embed/RuiJv6la6P8" 
          title="Aparelhos Auditivos"
          frameborder="0" 
          allowfullscreen>
        </iframe>
      </div>
      
    </div>

    <!-- Bloco Promocional Ouvirtiba -->
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <img src="{{ url_for('static', filename='img/2025-07-13FD-01.png') }}" alt="Promoção Ouvirtiba" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
